<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeAllUsers</servlet-name>
        <servlet-class>SeeAllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowInfo</servlet-name>
        <servlet-class>ShowInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateInitiave</servlet-name>
        <servlet-class>CreateInitiave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyInitiatives</servlet-name>
        <servlet-class>MyInitiatives</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addVote</servlet-name>
        <servlet-class>addVote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInitiative</servlet-name>
        <servlet-class>EditInitiative</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivePolicies</servlet-name>
        <servlet-class>ActivePolicies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpVote</servlet-name>
        <servlet-class>UpVote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeVote</servlet-name>
        <servlet-class>ChangeVote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndedPolicies</servlet-name>
        <servlet-class>EndedPolicies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMySelf</servlet-name>
        <servlet-class>DeletenonPolicy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showInitiative</servlet-name>
        <servlet-class>showInitiative</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserInitiative</servlet-name>
        <servlet-class>ShowUserInitiative</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delegator</servlet-name>
        <servlet-class>Delegator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rating</servlet-name>
        <servlet-class>Rate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeAllUsers</servlet-name>
        <url-pattern>/SeeAllUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowInfo</servlet-name>
        <url-pattern>/ShowInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateInitiave</servlet-name>
        <url-pattern>/CreateInitiave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyInitiatives</servlet-name>
        <url-pattern>/MyInitiatives</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addVote</servlet-name>
        <url-pattern>/addVote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInitiative</servlet-name>
        <url-pattern>/EditInitiative</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivePolicies</servlet-name>
        <url-pattern>/ActivePolicies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpVote</servlet-name>
        <url-pattern>/UpVote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeVote</servlet-name>
        <url-pattern>/ChangeVote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndedPolicies</servlet-name>
        <url-pattern>/EndedPolicies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMySelf</servlet-name>
        <url-pattern>/DeleteMySelf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showInitiative</servlet-name>
        <url-pattern>/showInitiative</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserInitiative</servlet-name>
        <url-pattern>/ShowUserInitiative</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delegator</servlet-name>
        <url-pattern>/Delegator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rating</servlet-name>
        <url-pattern>/Rating</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
